body {
    background-color: #660066;
}

.centered {
    text-align: center;
}


h1 {
    color: #f5f683;
    font-family: Helvetica;
    font-size: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.font-change {
    font-family: Helvetica;
}

h4 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}
